body {
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background-color: white;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 460px;
    box-shadow: 0 8px 24px gray;
}

.card-header h1{
    font-size: 24px;
    text-align: center;
    margin: 0 0 10px 0;
}

.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

input[type='text'],
input[type='email'],
select{
    width: 100%;                                      
    padding: 10px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 15px;
}

input:focus{
    outline: none;
    border-color: blue;
    box-shadow: 0 0 0 3px black;
}

.btn-submit{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}

.hint{
    font-size: 12px;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.637);
}

.legend{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.637);
    margin: 15px 0;
}

.required{
    color: red;
}

.erreur-message{
    color: red;
}

.succes-message{
    background-color: rgb(98, 255, 135);
    color: rgb(44, 128, 19);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}